.inputText {
    padding: 10px 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.submitBtn {
    display: inline;
    align-items: center;
    margin: auto;
    padding: 10px 10px;
    border: 1.2px solid teal;
    border-radius: 10px;
    background-color: transparent;
    color: teal;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}

.submitBtn:hover {
    background-color: teal;
    color: white;
    border: transparent;
}